@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(41, 47, 60);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(62, 82, 119);
  border-radius: 99999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(27, 58, 124);
}

html,
body {
  color: white;
  background-color: rgb(22, 37, 68);
}

input[type="file"] {
  display: none;
}
/* 
.required {
  display: none;
}

input:invalid ~ p > .required {
  display: auto;
} */
